.about__title{
    padding-top: 130px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.about__wrap{
    margin-block: 100px;
    display: flex;
    gap: 30px;
}
@media (max-width: 570px){
    .about__wrap{
        flex-direction: column;
        justify-content: center;
        .about__card{
            margin-top: 40px;
        }
    }
}