.categories__wrapper{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

// Products 
    .products__search{
       input{
       width: 600px;
        padding: 12px;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
       }
    }

// Cart
.table_wrapper{
    margin-block: 60px;
    display: flex;
    align-items: center;
    gap: 100px;
    .cart_btn{
        display: flex;
        align-items: center;
        gap: 10px;
        button{
            // padding: 10px;
            border: none
        }
        span{
            background-color: grey;
            padding:5px 9px;
            color: #fff;
            cursor: pointer;
            text-align: center;
            
        }
    }
.table__bside{
    padding: 50px;
    background:#F1EFEF;
    .btn{
        margin-top: 40px;
        text-align: center;
    }
    button{
        padding: 10px;
        background:green;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}
}

@media (max-width: 900px){
    .categories__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 595px){
    .categories__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


