.products__wrapper{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  
}
// @media (max-width: 900px){
//     .products__wrapper{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);

//     }

// }