.products__wrapper{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
  
}
@media (max-width: 970px){
    .products__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 595px){
    .products__wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}